* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    border: none;
    padding: 0px;
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 0%;
    margin-right: 0%;
}
h4 {
    font-size: 18px;
    font-style:normal;
    margin: 0px;
}
h5 {
    font-size: 24px;
}
.roButs, .ediButs, .tiDiv, .title, .entries0, .entries1, .entries2, .persIn {
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 3px;
    margin-left: 1.2%;
    margin-right: 1.5%;
}

.moro {
    margin: 0px;
    padding: 0px;
}
.roButs {
    margin-right: 3%;
    float: right;
    width: 15%;
}
.ediButs {
    float: right;
    width: 10%;
}
.tiDiv {
    overflow-x: auto;
    white-space: nowrap;
}
.title {
    margin-left: 1.7%;
    margin-top: 35px;
    margin-bottom: 15px;
    width: 38.5%;
    background-color: whitesmoke;
}
.entries0, .entries1, .entries2 {
    border: none;
    background-color: whitesmoke;
    height: 18px;
    position: relative;
    float: left;
}
.entries0 {
    margin-left: 0;
    width: 15%;
}
.entries1 {
    width: 15%;
}
.entries2 {
    width: 61%;
}
.persIn {
    background-color: whitesmoke;
    width: 90%;
}
#imgPic {
    padding-left: 20%;
    padding-top: 1%;
    width: 55%;
    height: 80%;
}
#fiInfo {
    height: 100vh;
    background-color:aliceblue;
}
.linkButs {
    
    width: 20%;
    margin: 9%;
    margin-top: 2px;
    margin-bottom: 10px;
}
.linkIns {
    background-color: whitesmoke;
    width: 70%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2px;
    margin-bottom: 2px;
    float: right;
}
.sButtons {
    height: 30px;
    width: 80%;
    margin: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: tan;
}
.sDivs {
    width: 15%;
    height: 27%;
    float:left;
}
.infoIns {
    float: right;
    text-align: center;
    width: 35%;
    height: 30px;
    margin-right:5%;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
}
#textSize {
    padding:0px;
    width: 15%;
    position:absolute;
    left: 0px;
    bottom: 50px;
}
