.container {
    max-width: 960px;
}
#rootCont {
    padding: 0px;
}
#menuCont {
    z-index: 1;
    width: 8.4375rem;
    padding: 0px;
    position: sticky;
    top: 0;
    float: left; 
    color: white;
    font-weight: bold;
    background-color: rgb(148, 182, 224);
}
#fiInfo {
    position: sticky;
    top: 0rem;
    pointer-events: auto;
    width: 8.4375rem;
}

#overlay {
    z-index: 2; 
    position: absolute; 
    display: none; 
    pointer-events: all;
    background-color: darkgray;
    opacity: 0.5;
}
    #mainCont {
        min-width: 960px;
        margin: 0rem;
        padding: 0rem;
        border-left-style: dashed;
        border-right-style: dashed;
    }
.row {
    pointer-events: none; 
}
.col-md-2, .col-md-4, .col-md-5, .col-md-6, .col-md-8, .col-md-12, .row {
    margin: 0rem;
    padding: 0rem;
} 
.col-md-2, .col-md-8 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.btn.btn-primary{
    height: 2.5rem;
    width: 7.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-right: 0.5rem;
    margin-left: 0rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    background-color: rgb(245, 122, 77);
    border: transparent;
}

/* keine Arrows in Input[Number] feldern */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}




#fiMainTitle {
    padding: 2.5rem;
    padding-bottom: 5rem;
    padding-top: 3rem;
    pointer-events: auto;
    border-radius: 0.3rem;
}
    #mTitle {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        pointer-events: auto;
        text-align: center; 
        width: 100%; 
        border-radius: 0.25rem;
        background-color: rgb(245, 245, 255);
    }


#fiData {
    width: 100%;
    margin-bottom: 0rem;
}
    #fiPers {
        border-radius: 0.3rem;
    }
    #pers0 {
        width: 100%;
        pointer-events: auto;
        padding: 0.5rem;
        padding-left: 2.5rem;
        border: transparent;
        border-radius: 0.375rem;
    }
        .persIn {
            min-height: 1.8rem;
            width: 100%;
            margin: 0rem;
            margin-top: 0.3rem;
            margin-bottom:0.3rem;
            padding: 0.5rem;
            padding-top: 0.125rem;
            padding-bottom: 0.125rem;
            border: transparent;
            border-radius: 0.25rem;
            background-color: rgb(245, 245, 255);
        }
    #fiPic {
        min-height: 16rem;
        border-radius: 0.3rem;
        padding: 0px;
        margin: 0px;
        margin-bottom: 0.5rem;
    }
        #imgPic {
            position: absolute;
        }



.tiDiv {
width: 100%;
}
    .entries, .title {
        min-height: 1.8rem;
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        border: transparent;
        border-radius: 0.25rem;
        background-color: rgb(245, 245, 255);
    }
        .title {
            margin: 0rem;
            padding: 0rem;
            padding-left: 0.5rem;
            margin-left: 0.5rem;
            width: 50%;
            }

        .roButs, .ediButs {
            float: right;
            height: 2rem;
            width: 7rem;
            margin-left: 0.1rem;
            border: transparent;
            color: white;
        }
        .sButtons {
            width: 100%;
            margin-top: 15px;
            margin-right: 20%;
        }
        #spaceBut0, #spaceBut1 {
            height: 100%;
        }



.infoIns {
    background-color: rgb(146, 188, 199);
    border-radius: 0.25rem;
    font-weight: bold;
    color: white;
    height: 1.6rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}        


.dialog {
    display: inline-block;
    width: 350px; 
    position: absolute; 
    left: 50px; 
    padding-left: 8px; 
    padding-right: 8px; 
    border-radius: 0.25rem;
    display: inline-block;
    z-index: 4;
}






.sInputs {
    border: transparent;
    border-radius: 0.25rem;
    background-color: rgb(245, 245, 255);
    z-index: 4;
}
.btn-info{color:white;background-color:rgb(146, 188, 199);border-color:rgb(146, 188, 199)}

.btn-info:hover{color:white;background-color:rgb(146, 188, 199);border-color:rgb(146, 188, 199)}